# Copiaza in keystore.properties si completeaza.
# Fisierul keystore.properties este in .gitignore - nu ajunge in git.
storeFile=../keystore/examenmate-upload.jks
storePassword=PAROLA_TA
keyAlias=examenmate
keyPassword=PAROLA_TA
